<main class="navigation-bar">
    <div class="logo-wrapper">
        <h2>Ligma<span id="highlight">Tasks</span></h2>
    </div>
    <nav class="navigation-buttons-wrapper">
        <a href="/home-page" class="active">Home</a>
        <a href="/archives-page">Archive</a>
        <a href="/my-tasks-page">My Tasks</a>
        <a href="/about-us-page">About us</a>
        <a href="/login-page" id="login">Login</a>
        <a href="/acount-profile-page" id="myProfile">My Profile</a>

        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</main>