.content {
  margin-top: 5vh;
  min-height: 92vh;
  display: flex;
  overflow: hidden;

  #background {
    z-index: -2;
    position: absolute;
    margin: 0;
    height: 91vh;
    filter: blur(4px);
  }

  .login-box {
    transition: all 0.52s ease;
    /* background-color: rgb(148, 68, 168); */
    background-image: radial-gradient(rgb(190, 94, 224), violet, pink);
    z-index: 3;
    /* padding: 30px; */
    overflow: hidden;
    margin: auto;
    min-height: fit-content;
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    border: 0px solid rgba(19, 13, 30, 0);
    box-shadow: 3px 5px 4px rgba(83, 57, 126, 0.215);
    border-radius: 30px;

    h1 {
      font-size: 22px;
      margin: auto;
      color: #5a2681;
    }

    .left-content {
      display: flex;
      flex-direction: column;
      background-color: white;
      border: 1px solid black;
      padding: 30px;
      border-radius: 30px;
      border-color: white;

      input {
        border-radius: 50px;
        border: 0px solid gray;
        background-color: rgb(252, 227, 231);
        text-align: center;
        height: 26px;
      }
    }

    .right-content {
      display: flex;
      width: fit-content;
      height: fit-content;
      margin-left: 15px;

      img {
        width: 300px;
        height: 300px;
        padding: 50px;
        margin: 30px;
        border: 0px solid rgb(117, 22, 117);
        border-radius: 100%;
        background-color: white;
        transition: all 0.2s ease;
      }

      img:hover {
        transform: scale(1.04);
      }
    }

    #remember-me {
      transform: scale(1.4);
      border-radius: 20px;

      margin: auto;
    }

    .check-box {
      display: flex;
      justify-content: middle;
    }


    .row {
      width: auto;
      height: auto;
      display: flex;
      margin: 14px;
      flex-direction: column;

      a,
      .check-box {
        margin-left: auto;
      }

      label {
        margin-right: 10px;
        font-size: 14px;
      }

      input,
      button {
        padding: 8px;
        font-size: 18px;
        margin-top: 6px;
      }

      button {
        background-color: white;
        border-radius: 40px;
        border: 0.4px solid rgba(101, 89, 96, 0.355);
        cursor: pointer;
      }

      button:hover {
        transition: all 0.12s ease;
        color: rgb(233, 203, 240);
        background-color: #5a2681;
        transform: scale(1.07);
        /* box-shadow: 0px 0px 10px #9f28ce6b; */
      }


      button:active {
        background-color: rgb(140, 50, 201);
        transform: scale(1);
        transition: all 0.12s ease;

      }
    }

  }

  .login-box:hover {
    transition: all 0.12s ease;
    transform: scale(1.04);
  }
}
