<main class="content">
  <img id="background" src="../../media/hero-bg.png" alt="">
  <div class="login-box">
    <div class="left-content">
      <div class="row">
        <h1>Login to your Account!</h1>
      </div>
      <div class="row">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
      </div>
      <div class="row">
        <div class="check-box">
          <label for="remember-me">Remember me</label>
          <input type="checkbox" name="remember-me" id="remember-me">
        </div>
        <button>Login with Ligma</button>
        <button>Login with Google</button>
        <button>Create an Account</button>
        <a href="">Forgot password</a>
      </div>
    </div>
    <div class="right-content">
      <img src="../../media/undraw_sign_up_n6im.svg" alt="">
    </div>
  </div>
</main>
