
<main class="content-wrapper">
    <div class="hero-strip">
        <img src="../../media/hero-bg.png" alt="Image"> 
        <div class="responsive-container">
            <div class="textcontent-wrapper">
                <h1>LigmaTasks' 69th Anniversary!</h1>
                <h3>Join us for a celebration of a lifetime!</h3>
            </div>
        </div>
    </div>
    <app-generic-page-content-filler [imageAtLeft]="bool1" [title]="title1" [text]="text1" [image]="image1"></app-generic-page-content-filler>
    <app-generic-page-content-filler [imageAtLeft]="bool2" [title]="title2" [text]="text2" [image]="image2"></app-generic-page-content-filler>
</main>
