.content {
    width: auto;
    padding: 90px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    justify-content: space-around;
    background-image: linear-gradient(rgb(250, 174, 218), rgb(213, 92, 218), rgb(111, 20, 129));

    h4 {
        color: pink;
        margin: auto;
    }

    .columns-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: inherit;
        width: inherit;
        text-align: left;
        position: relative;
        padding: 50px;
        justify-content: center;

        .column {
            padding: 20px;
            display: flex;
            flex-direction: column;
            position: relative;
            text-align: left;

            .row {
                height: fit-content;
                display: flex;
                flex-direction: row;
                position: relative;
                width: 100%;
                justify-content: left;
                padding: 10px;

                h4 {
                    position: relative;
                    margin-right: auto;
                    display: block;
                }
            }
        }
    }
}