<main class="content">
    <div class="columns-container">
        <div class="column">
            <div class="row">
                <img src="" alt="">
                <h4>Contact us if you have any questions</h4>
            </div>
            <div class="row">
                <h4>support.info&#64;ligmatasks.com</h4>
            </div>
        </div>

        <div class="column">
            <div class="row">
                <img src="" alt="">
                <h4>Connect with us</h4>
            </div>
            <div class="row">
                <img src="" alt="">
                <h4>&#64;ligmatasksofficialinsta</h4>
            </div>
            <div class="row">
                <img src="" alt="">
                <h4>&#64;ligmatasksofficialfb</h4>
            </div>
            <div class="row">
                <img src="" alt="">
                <h4>&#64;ligmatasksofficialX</h4>
            </div>
        </div>

        <div class="column">
            <div class="row">
                <h4>Legal and Safety</h4>
            </div>
            <div class="row">
                <h4>Privacy Policy</h4>
            </div>
            <div class="row">
                <h4>Accessibility</h4>
            </div>
            <div class="row">
                <h4>Cookies</h4>
            </div>
        </div>
    </div>
    <h4>&#64;SeiyaMarx</h4>
</main>