.content {
  min-height: 92vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

app-generic-page-content-filler {
  margin: auto;
  margin-top: 120px;
}

#datagrid-image {
  position: absolute;
  z-index: -1;
  height: 100vh;
}

.input-box-container {
  height: fit-content;
  margin-top:60px;
  padding: 40px;
  width: auto;
  display: flex;
  background-color: rgba(34, 6, 26, 0.809);

  .input-box {
    margin: auto;
    padding: 30px;
    background-color: white;
    min-height: fit-content;
    min-width: fit-content;
    border-radius: 20px;
    box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.767);
  }

  textarea,
  input {
    min-width: 500px;
    max-width: 500px;
    min-height: auto;
    max-height: 300px;
    padding: 16px;
    overflow: hidden;
    background-color: rgb(242, 213, 255);
    border: 0px solid gray;
    border-radius: 20px;
  }

  text-area {
    min-height: 100px;
  }
  .row {
    width: auto;
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
  }
  button {
    width: auto;
    padding: 14px 40px;
    margin: 8px 0px;
    font-size: 18px;
    font-weight: 300;
    color: white;
    background-color: rgb(151, 23, 155);
    border: 1px solid rgba(128, 128, 128, 0);
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 0px rgb(118, 18, 122);
  }

  button:hover {
    color: white;
    background-color: rgb(196, 25, 202);
    border: 1px solid rgba(128, 128, 128, 0);
    transition: all 0.3s ease;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.582);
    transform: scale(1.02);
  }

  button:active {
    transform: scale(1);
  }
}

#archivesTitle {
  margin: 160px auto 20px auto;
}

table {
  padding: 20px;
  position: relative;
  border: 0.8px solid rgba(100, 93, 117, 0.466);
  box-shadow: 4px 3px 6px rgba(100, 93, 117, 0.466);
  display: block;
  overflow: hidden;
  border-radius: 8px;
  margin: 50px auto;

  td,
  th {
    padding: 12px 36px;
    text-align: center;
    min-width: fit-content;
    border: 0.4px solid pink;
    max-width: 100px;
  }

  th {
    color: white;
    background-color: rgb(129, 31, 96);
  }
}

#refreshButton {
  padding: 20px;
  margin-bottom: 0px;
  margin-top: auto;
  width: 100%;
}



